body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    
    background-color: #f8f9fa; 
    width: calc(100% - 300px); 
    margin: 0 auto; /* For middle */
    max-width: 1200px; 
    font-family: 'Roboto', sans-serif;
}

/* Custom Container */
.custom-container {
    position: relative;
}

/* Header */
.main-header {
    position: fixed; /* always stay on Top */
    top: 0; 
    left: 50%; /* to center horizontally */
    transform: translateX(-50%); /* to center horizontally */
    width: calc(100% - 300px); /* Same as body width */
    max-width: 1200px;
    z-index: 1000; 
    background-color: rgba(126, 18, 8, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    padding: 10px 0;
}
.header-right {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-image {
    width: 100px;
    height: auto;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.menu-icon .hamburger,
.menu-icon .close {
    font-size: 2rem;
    color: #ffff;
    display: inline-block;
}
.menu-icon .close {
    display: none; /* Initially, hide close icon */
}
.menu-icon .hamburger {
    display: inline-block;
}



/* Fullscreen Menu */

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%); /* Desktop başlangıç durumu */
    transition: transform 0.5s ease;
}

.fullscreen-menu.open {
    transform: translateY(0); /* Desktop görünümü */
}
.fullscreen-menu .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fullscreen-menu .menu-list li {
    margin: 20px 0;
}

.fullscreen-menu .menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.fullscreen-menu .menu-list li a:hover {
    color: #7e1208;
}

/* Slider */

.carousel {
    overflow: hidden; /* The page will not show anything else */
    height: 700px;
}
.carousel p {
font-size: 1.3rem;

}

.carousel-item img {
    height: 700px; /* Image fills the slider area */
    object-fit: cover; /* The image is cropped properly */
    
}
.carousel-caption {
    bottom: 7%; /* Header Position*/
    background-color: rgba(0, 0, 0, 0.4); /* Overlay black */

}




/* Events Area */
.event-section{
    background-color: rgb(248, 247, 246);
    width: 100%;
    text-align: left;
    padding: 10px 0px 5px 50px;
    border-bottom:black solid 2px;
}
.event-date-ort{
    font-size: 1.1rem;
}

.btn-program{
    color: white;
    background-color: #7e1208;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:20px 10px ;
    font-weight: bold;
    font-size: 1.3rem;
    width: 50%;
}
.btn-program:hover{
    background-color: #BD4E4E;
    color: white;
}

.card-thumbnails{           /*Here for card images */
    width: 100%;
    height: 250px;
    object-fit: cover;
}    

/* Overlay Styling */
.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Overlay black */
    z-index: 1;
    color: white;
}

/* Make text standout on overlay */
.overlay h1,
.overlay p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 15px;
    margin: auto;
}

/* Ensure image stays behind overlay */
.position-relative img {
    z-index: 0;
}

.btn-bar{           /* here for "Red claim" Buttons */
    color: white;
    background-color: #7e1208;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.3rem;
    height: 70px;
    border-radius: 0;
    margin-bottom: 30px;
}
.btn-bar:hover{
    background-color: #BD4E4E;
    color: white;
    
}
.btn-bar-blue{      /* here for Blue "claim" Buttons */
    color: white;
    background-color: #2F528F;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.3rem;
    height: 70px;
    border-radius: 0;
    margin-bottom: 30px;
}

.btn-bar-blue:hover{
    background-color: #708CBC;
    color: white;
}

.btn-program-blue{     /* Here for Blue program button */
    color: white;
    background-color: #2F528F;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:20px 10px ;
    font-weight: bold;
    font-size: 1.3rem;
    width: 50%;
}
.btn-program-blue:hover{
    background-color: #708CBC;
    color: white;
}
.img-header{
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}

.paragraph-img{
    font-size: 1.3rem;
    margin: 30px;
}

.btn-Digitales-type1{
background-color: #50701D;
color: white;
font-weight: bold;
font-size: 1.5rem;
}

.btn-Digitales-type1:hover{
    background-color: #B3CD89;
    color: white;
    }

.btn-Digitales-type2{
    background-color: white;
    color: #50701D;
    font-weight: bold;
    margin: 20px;
}

.btn-Digitales-type2:hover{
    background-color: #B3CD89;
    color: white;
    }

.overlay-green{
        background-color: rgba(0, 100, 0, 0.4); /* Overlay Green */
        z-index: 1;
        color: white;
}
.overlay-yellow{
    background-color: rgb(248, 228, 3, 0.4); /* Overlay Yellow */
    z-index: 1;
    color: white;
}
.btn-generationenfestival{
    background-color: orange;
    color: white;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-generationenfestival:hover{
    background-color: white;
    color: orange;
    font-weight: bold;
}

.overlay-red{
    background-color: rgba(255, 0, 0, 0.2); /* Overlay Red */
    z-index: 1;
    color: white;
}

.btn-red{
    background-color: #7e1208;
    color: white;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.5rem;
}
.btn-red:hover{
    background-color: white;
    color: #7e1208;
    font-weight: bold;
}

.footer {
    background-color: #7e1208;
    color: white;
    width: 100%;
}

.img-footer-logo{
    max-width: 50px; /* Icon size */
    height: auto;
    margin-bottom: 5px;
}

.logo-partners{
    max-width: 100%; /* Supporter logos size */
    height: auto;
}
footer h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

footer p, footer a {
    font-size: 0.9rem;
    line-height: 1.5;
    text-decoration: none;
    color: white;
}
.footer-bottom{
    background-color: #7e1208; 
    width: 100%; 
    color: white; 
    padding: 20px;
}
.footer-bottom a{
    text-decoration: none;
    color: white;
}

/* Relative design Media Query */
@media (max-width: 1024px) {
    body {
        width: 100%;
    }
    .main-header{
        width: 100%;
    }


    .fullscreen-menu {
        top: 0; /* Üstten başlasın */
        left: auto; /* Sağdan açılmaya başla */
        right: 0; /* Sağ tarafa hizalan */
        width: 80%; /* Sağdan gelen menü genişliği */
        height: 100%; /* Tam yükseklik */
        transform: translateX(100%); /* Mobil başlangıç pozisyonu: görünmez */
        transition: transform 0.5s ease; /* Sağdan gelen animasyon */
        color: aqua;
    }

    .fullscreen-menu.open {
        transform: translateX(0); /* Mobil için görünür */
    }
}

@media (max-width: 768px) {
    body {
    font-size: 1rem;
    }
    .main-header{
        width: 100%;
    }

    /* Fullscreen menü için sağdan açılacak düzenlemeler */
    .fullscreen-menu {
        top: 0; /* Üstten başlasın */
        left: auto; /* Sağdan açılmaya başla */
        right: 0; /* Sağ tarafa hizalan */
        width: 80%; /* Sağdan gelen menü genişliği */
        height: 100%; /* Tam yükseklik */
        transform: translateX(100%); /* Mobil başlangıç pozisyonu: görünmez */
        transition: transform 0.5s ease; /* Sağdan gelen animasyon */
        color: aqua;
    }

    .fullscreen-menu.open {
        transform: translateX(0); /* Mobil için görünür */
    }
   
}

@media (max-width: 480px) {
    body {
        width: 100%;
    }
    .main-header {
        width: 100%;
    }
    .carousel {
        height: 600px; /* Yükseklik mobilde 200px */
    }

    .carousel-caption {
        font-size: 1rem; /* Başlık font boyutunu küçük yapar */
        bottom: 15%; /* Header Position*/
    }
    .carousel p{
        font-size: 1rem; /* Metnin font boyutunu küçük yapar */
    
    }

    .card {
        display: flex;
        flex-direction: row; /* Resmi sola, metni sağa hizalar */
        align-items: center; /* Dikeyde ortalar */
        justify-content: space-between; /* Alanı eşit olarak böler */
    }

    .card-body {
        display: flex;
        flex-direction: row; /* Metin ve görseli yan yana getirir */
        align-items: center; /* Dikeyde ortalar */
    }

    /* Üstteki kart resmini mobilde gizle */
    .card img.card-img-top {
        display: none; /* Desktop görüntüsü için üstteki resmi gizle */
    }

    /* Resmi mobilde sol tarafa yerleştir */
    .card img.img-fluid {
        display: block; /* Mobilde sol tarafa gelen resmi gösterir */
        width: 60%; /* Resmin genişliğini ayarlayarak sağdaki metnin alanını daraltabilirsiniz */
    }

    .card-title {
        margin: 0; /* Başlıkların gereksiz boşluklarını kaldırır */
        text-align: left; /* Başlığı sola hizalar */
    }

    .overlay h1,
    .overlay p {
    text-align: center;
    padding: 5px;
    font-size: 1.1rem;
    overflow: hidden;
}
.event-section{
    padding: 10px 0px 5px 10px;
}

}
